:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --accept-color: #2196f3;
  --accept-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --black-color: #000000;
  --icon-bg: #f5f4fa;
  --secondary-accept-color: #afb1b8;
  --main-font-size: 14px;
  --secondary-font-size: 16px;
  --main-font-weight: 400;
  --secondary-font-weight:500;
}
